<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Project - Brian Sandon</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script crossorigin src="http://underscorejs.org/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
</head>
<body>
  {{> header}}
  
  <div id="mainContent">
  	<div class="wideSection tall">
      <img src="/assets/img/{{project.images.big}}" alt="A screen-shot from the project." title=""/>
      <h2><a href="{{project.name.short}}">{{project.name.full}}</a></h2>
      <p><b>Time:</b> {{project.startDate.month}}. {{project.startDate.year}}-{{project.endDate.month}}. {{project.endDate.year}} </p>
      <p>
        <b>Languages:</b>
        {{#if project.languages}}
        {{#each project.languages}}
        {{~{this}~}} {{#unless @last}},{{/unless}}  
        {{/each}}
        {{else}}
        N/A
        {{/if}}
      </p>
      <p>
        <b>Other Skills:</b>
        {{#if project.skills}}
        {{#each project.skills}}
        {{~{this}~}} {{#unless @last}},{{/unless}} 
        {{/each}}
        {{else}}
        None.
        {{/if}}
      </p>
      <p>
        <b>Teammates:</b>
        {{#if project.teammates}}
        {{#each project.teammates}}
        {{~{this}~}} {{#unless @last}},{{/unless}}  
        {{/each}}
        {{else}}
        Individual project
        {{/if}}
      </p>
      <p><b>Links:</b></p>
      {{#if project.links}}
      <ul>
        {{#each project.links}}
        <li><a href={{{this.url}}}>{{{this.text}}}</a></li>
        {{/each}}
      </ul>
      {{else}}
      No links available.
      {{/if}}
      <p><b>Description:</b></p>
      {{#if project.description}}
      {{#each project.description}}
      <p>{{{this}}}</p>
      {{/each}}
      {{else}}
      No description available.
      {{/if}}
    </div>
  </div>
  
  {{> footer}}
</body>
</html>